.technology-container {
    display: grid;
    grid-column: span 3;
    gap: 2rem 2rem;
}

.technology-container h1,
.technology-container p {
    grid-column: span 3;
}

.technology-container .technology {
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.2);
    height: 5rem;
    min-width: 10rem;
    border: 1px solid $border-color;
    padding: 1rem;
    background-image: linear-gradient(to bottom right, #ccc, $box-color);
    color: $font-color;
    font-size: 2rem;
    text-decoration: none;
}

.technology-article {
    display: flex;
    flex-direction: row;
}

.technology-article .sidebar {
    width: 30%;
}

.technology-article .sidebar ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 2rem;
}

.technology-article .article {
    width: auto;
}

@media (max-width: 800px) {
    .technology-article .sidebar {
        display: none;
    }
}
