$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #c69c72;
$background-alternative-color: #c0b7b1;
$box-color: #8e6e53;
$link-hover-color: #fff;
$link-active-color: #ff0;
$border-color: #aaa;
