
{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main technology-container" role="main">
        {{ content }}

            {% for page in  pages("technology") %}
                <a href="{{ page.url }}">
                <div class="technology">
                    {{ page.title }}
                    <img src="assets\img\fast-forward_32x32.png">
                </div>
                </a>
            {% endfor %}
    </div>

    {% include 'incl/footer.twig' %}
</body>
